<ion-view id="CouncilMembers" view-title="理事会">
    <ion-content>
        <div class="contop">
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.academicism"><span>学</span><span>院</span><span>介</span><span>绍</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/conba.png"/></div>
                <div class="incon_b"><img src="images/conjiu.png"/><a ui-sref="tabs.CouncilMembers"><span>理</span><span>事</span><span>会</span><span>成</span><span>员</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.learned"><span>学</span><span>术</span><span>顾</span><span>问</span><span>委</span><span>员</span><span>会</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.committee"><span>战</span><span>略</span><span>咨</span><span>询</span><span>委</span><span>员</span><span>会</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.teachers"><span>师</span><span>资</span><span>介</span><span>绍</span></a></div>
            </div>
        </div>
        <div class="conmid">
            <ul class="incoco">
                <li><a href="#"><img src="images/conwu.png"/></a> </li>
                <li><a href="#"><img src="images/conliu.png"/></a> </li>
                <li><a href="#"><img src="images/conqi.png"/></a> </li>
            </ul>
        </div>

        <div class="main">
            <h3>
                <span>清华大学五道口金融学院第一届理事会</span>
                <img src="images/HotNews-bgx_03.png"/>
            </h3>
            <h4>理事会</h4>
            <span>清华大学五道口金融学院实行独特的理事会领导下的院长负责制。理事会搭建起学界与业界的沟通桥梁，为学院在人才培养和学术研究方面引领与契合行业需求奠定了坚实的基础。</span>
            <h4>名誉理事长</h4>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_03.png" />
                    <h5>刘鸿儒</h5>
                    <p>中国人民银行原副行长</p>
                    <p>中国证券监督管理委员会首任主席</p>
                </div>
                <div class="bot"><img src="images/HotNews-bgx_03.png" /></div>
            </div>
            <h4>理事长</h4>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_06.png" />
                    <h5>吴晓灵</h5>
                    <p>第十一届、第十二届全国人大常委</p>
                    <p>人大财经委副主任委员</p>
                    <p>中国人民银行原副行长</p>
                </div>
                <div class="bot"><img src="images/HotNews-bgx_03.png" /></div>
            </div>
            <h4>理事<span>（以姓氏拼音为序）</span></h4>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_08.png" />
                    <h5>程建平</h5>
                    <p>清华大学常务副校长</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_10.png" />
                    <h5>杜金富</h5>
                    <p>中国银行业监督管理委员会—纪委书记</p>
                    <p>中国人民银行—原副行长</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_12.png" />
                    <h5>潘功胜</h5>
                    <p>中国人民银行—副行长</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_14.png" />
                    <h5>万建华</h5>
                    <p>刘鸿儒金融教育基金会代表</p>
                    <p>国泰君安证券董事长</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_16.png" />
                    <h5>王兆星</h5>
                    <p>中国银行业监督管理委员会—副主席</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_18.png" />
                    <h5>谢维和</h5>
                    <p>清华大学—副校长</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_20.png" />
                    <h5>张志平</h5>
                    <p>校友代表</p>
                    <p>香港东英金融集团—董事会主席</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_22.png" />
                    <h5>周延礼</h5>
                    <p>中国保险监督管理委员会—副主席</p>
                </div>
            </div>
            <div>
                <div class="top"><img src="images/HotNews-bgx_03.png" /></div>
                <div class="center">
                    <img src="images/CouncilMembers-icon_24.png" />
                    <h5>庄心一</h5>
                    <p>中国证券监督管理委员会—副主席</p>
                </div>
                <div class="bot"><img src="images/HotNews-bgx_03.png" /></div>

            </div>
        </div>
    </ion-content>
</ion-view>