<ion-view id="LectureArticle" view-title="论坛讲座--文章">
    <ion-content class="LectureArticle-content">
        <div class="home_top">
            <div class="home_top_left">
                <span class="logo wenben">论坛讲座</span>
            </div>
            <div class="home_top_pic"></div>
        </div>
        <div class="main clearfix">
            <h3>
                <span>IMF总裁拉加德做客清华五道口全球名师大讲堂</span>
                <img src="images/HotNews-bgx_03.png"/>
            </h3>
            <b>时间：<span>2014-03-24</span><i>来源：综合办</i><i>作者：王妍</i>浏览量：585</b>
            <p>
                3月23日下午，国际货币基金组织（IMF）总裁克里斯蒂娜·拉加德（Christine
                Lagarde）女士做客清华五道口全球名师大讲堂，为到场的近500位嘉宾及清华师生带来
                题为“中国青年：全球领袖，全球公民”的主题演讲，探讨中国如何利用好新世纪的新机
                遇以及中国青年如何成为世界公民。清华大学校长陈吉宁、中国人民银行副行长胡晓炼出
                席，全国人大财经委副主任委员、清华大学五道口金融学院院长吴晓灵主持现场活动。
            </p>
            <p>
                拉加德在演讲的开篇就强调，中国正在成长为世界第一大经济体，中国的青年一代也
                将因此成为全球的领导者，中国的青年将迎接一个光明的未来，但也将面临巨大的挑战。
            </p>
            <p>
                拉加德指出，新世纪是亚洲崛起的世纪，尤其是中国崛起的世纪；21世纪的世界有
                着数不清的机遇，无数的“中国制造”构成了这个世界，而这个世界也正是属于中国的
                世界。
            </p>
            <p>
                拉加德认为，中国要树立三种观念来更好地把握21世纪的历史性机遇。第一，树立
                服务观念。中国应当继续加大教育投入，完善并进一步开放国内的金融体系，给未来的
                增长注入新的动力；第二，树立包容观念。中国应当致力于缩小贫富差距和减少性别歧
                视，给未来的增长注入可持续性；第三，树立环保观念。发展会带来巨大的环境压力，
                只有解决好环境问题，公民才能享受增长的成果。
            </p>
            <p>
                拉加德还谈到了“世界公民”观念的重要性。她认为，在今后的国际格局中，一个
                国家与其他国家协调得越好，它自身的发展就会越好。中国一直在IMF中发挥重要作用，
                而IMF也乐于支持当下“中国梦”的实现，因为强大的中国对整个世界都有益处。
            </p>
            <p>
                演讲结束后，拉加德与清华师生进行了30分钟的互动交流，内容涉及中国经济未来
                的发展、女性从业者的角色选择、国际货币基金组织的内部改革等方方面面。拉加德对提
                问表示赞赏，她还表示，目前IMF拥有一批非常出色的来自中国的官员和职员，她欢迎在
                座的清华同学投身IMF的工作中来。
            </p>
            <p>
                吴晓灵感谢拉加德带来的精彩演讲，感谢她对中国青年一代的关心与支持，并宣布
                清华五道口的另一项重要学术活动——清华五道口全球金融论坛定于5月10号到12号在清
                华大学召开，论坛的官方网站和报名系统今天起正式启动。
            </p>
            <p>
                拉加德是在出席国务院发展研究中心主办的中国发展高层论坛的间隙，应邀顺访清
                华大学的。
            </p>
            <p>
                “清华五道口全球名师大讲堂”是着眼于金融界的公益性系列学术讲座。讲座延请
                国际上学术、实务造诣皆深的金融学家主讲，旨在分享金融学术观点，促进金融学术交流
                与进步，为学生创造更多与大师近距离接触的机会
            </p>
        </div>
    </ion-content>
</ion-view>