<ion-view id="TeachingProgram" view-title="教学项目">
    <ion-content class="overflow-scroll TeachingProgram-content">
        <div class="home_top">
            <div class="home_top_left">
                <img src="images/logo.png" class="logo">
            </div>
            <div class="home_top_pic"></div>
        </div>
        <div class="main clearfix">
            <h3><span>教学项目</span></h3>
            <p>金融学博士、金融专业硕士、金融EMBA、高级培训项目、双学位金融MBA、全球金融DBA、金融媒体EMBA奖学金培训课程、清华大学中国创业者训练营、中国基金未来之星夏令营</p>
            <ul class="clearfix">
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_03.png"/>
                        <span>金融学博士</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_05.png"/>
                        <span>金融专业硕士</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_07.png"/>
                        <span>金融EMBA</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_12.png"/>
                        <span>高级培训项目</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_13.png"/>
                        <span>双学位金融MBA(筹)</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_14.png"/>
                        <span>全球金融DBA</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="#">
                        <img src="images/TeachingProgram-icon_18.png"/>
                        <span>金融媒体EMBA<br/>奖学金培训课程</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_19.png"/>
                        <span>清华大学中国<br/> 创业者训练营</span>
                    </a>
                </li>
                <li ng-click="showAlert()">
                    <a href="javascript:;">
                        <img src="images/TeachingProgram-icon_20.png"/>
                        <span>  中国基金未<br/> 来之星夏令营</span>
                    </a>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>