<ion-view view-title='主页' id="home">
    <ion-content>
        <div class="home_top">
            <div class="home_top_left">
                <img src="images/logo.png" class="logo">
            </div>
            <div class="home_top_pic"></div>
        </div>
        <div class="home_content">
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng1.png" ></span>
                <h4>School Profile</h4>
                <a ui-sref="tabs.academicism">学院概况</a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng1.png" ></span>
                <h4>Edu Project</h4>
                <a ui-sref="tabs.TeachingProgram">教学项目</a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng1.png" ></span>
                <h4>Academic</h4>
                <a ui-sref="tabs.academicism">学术平台</a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng2.png" ></span>
                <h4>Admissions</h4>
                <a ui-sref="tabs.enrollment">招生信息</a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng2.png" ></span>
                <h4>News</h4>
                <a href="#tabs/news">新闻动态</a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng2.png" ></span>
                <h4>BBS Lecture</h4>
                <a ui-sref="tabs.lecture">论坛讲座 </a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng2.png" ></span>
                <h4>Prof. Views</h4>
                <a ui-sref="tabs.ProfessorView">教授观点</a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng2.png" ></span>
                <h4>Alumni Events </h4>
                <a ui-sref="tabs.AlumniActivities">校友活动</a>
            </div>
            <div>
                <img src="images/ind_pc1_03.png" >
                <span><img src="images/meng2.png" ></span>
                <h4>Financial Forum</h4>
                <a ui-sref="tabs.teaching">金融论坛</a>
            </div>
        </div>
    </ion-content>
</ion-view>