<ion-view view-title='高级培训项目' id="train">
    <ion-content>
        <div class="home_top">
            <div class="home_top_left">
                <span class="logo wenben">高级培训项目</span>
            </div>
            <div class="home_top_pic"></div>
        </div>
        <ion-scroll style="overflow: hidden">
            <div style="background-color: #acabac">
                <h3>2014年清华大学五道口</h3>
                <h3>金融学院金融专业硕士《调档函》发放通知</h3>
                <div class="gjxm">
                    <div><img src="images/gjpxxm_03.jpg"></div>
                </div>
                <ul class="gjxmb">
                    <li class="js">时间:<span>2014-06-11</span></li>
                    <li>来源:<span></span>招生办</li>
                    <li>作者:<span>姚丽娜</span></li>
                    <li>浏览量:<span>1137</span></li>
                </ul>
                <p>2014年五道口金融学院金融专业硕士拟录取名单已确定，现将调档函等材料发放有关事项通知如下：</p>
                <p>一、五道口金融学院2014年金融专业硕士《调档函》等相关材料自6月11日起开始发放。请本次录取的同学及时领取。</p>
                <p>二、北京地区的考生请于6月11-13日8:00-11:30、13:00-16:30凭本人有效身份证至成府路43号清华大学五道口金融学院1号楼101教学办公室领取。</p>
                <p>三、外地考生亦可本人前来领取或委托他人代领，代领人请携带考生手写或传真的委托书、身份证复印件和代领人身份证原件。</p>
                <p>四、外地考生如需邮寄，请于6月11日16：00前发电子邮件至admissions@pbcsf.tsinghua.edu.cn，考生请在电子邮件中写明考生本人姓名、邮寄地址、邮编、联系电话、本人<br>
                    身份证号码。收到邮件后，学院将统一回复确认。邮寄申请以该电子邮件为准。邮寄形式均为快递到付方式。</p>
                <p>咨询电话：010-62780555 姚老师</p>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>