<ion-view id="HotNews" view-title="热点新闻">
    <ion-content class="HotNews-content">
        <div class="home_top">
            <div class="home_top_left">
                <span class="logo wenben">热点新闻</span>
            </div>
            <div class="home_top_pic"></div>
        </div>
        <div class="main clearfix">
            <h3>
                <span>《清华金融评论》第五期“道口形势分析会”聚焦P2P网贷</span>
                <img src="images/HotNews-bgx_03.png"/>
            </h3>
            <b>时间：<span>2014-09-03</span><i>来源：清华金融评论</i><i>作者：陈琛</i>浏览量：167</b>
            <p>
                2014年8月28日下午，《清华金融评论》第五期道口形势分析会在清华五道口金融
                学院成功召开，会议采用闭门研讨形式，主题为“P2P网贷与传统银行的竞争、合作与监
                管”。
            </p>
            <p>
                本期会议邀请了宜信公司首席战略官陈欢、网信金融首席运营官何珊、银监会创新部
                综合处处长蒋则沈、91金融联合创始人吴文雄、中国农业银行总行资产负债管理部资负委
                办公室处长于东智及社科院金融所银行研究室主任曾刚参与研讨。会议就我国P2P网贷发
                展现状，中外P2P网贷发展异同及未来P2P网贷发展、监管方向进行了分析与讨论。
            </p>
            <p>
                嘉宾们以“P2P网贷与传统银行的竞争、合作与监管”为主题做了开放式演讲和讨论
                交流，并针对当前热点话题展开观点交锋。
            </p>
            <p>
                2008年金融危机之后，传统信贷一直处于下降趋势，新型网络借贷如雨后春笋般涌
                现并迅速增长。与会嘉宾陈欢谈及P2P在英、美两国发展的异同时指出，英美P2P行业呈
                现愈加细分化、成熟化特点。其不同点在于美国注重去担保，不提供任何担保和保障，而
                英国则设立类似于风险准备金基金，保障网络信贷借款人的利益。同时，他认为，在中国
                开展P2P业务，面临来自市场、客户的众多挑战，建立P2P监管是当务之急。
            </p>
            <p>
                何珊指出，互联网与金融的结合有两大方向，一是互联网与金融技术导向上的合作；
                二是互联网与金融服务将进行进一步深度融合。在技术导向上，要提升传统金融服务的便
                捷度，具体包括：传统金融机构的信息化；互联网金融产品的服务销售平台线下转移到线
                上；以第三方支付为代表进行一些服务的增值和融合。
            </p>
            <p>
                她认为未来互联网金融相较于传统金融的附带优势：第一，互联网金融数据基础广，
                可降低信息不对称；第二，依托流量和用户量，开发客户的成本非常低；第三，传播成本
                低；第四，用户体验好，产品的服务和便利性强。互联网金融对传统金融的三大改进在于
                ，对客户资源的再开发和分享、盈利、分成及对风险定价优势的提升。
            </p>
            <p>
                对于监管，何珊称，由于互联网金融业态还没有定性，需要以包容的心态来对待。
                其次就是提高P2P行业的违约成本，防止互联网金融欺诈。
            </p>
            <p>
                吴文雄认为互联网金融是借助互联网工具提高了信息的匹配速度。当需求出现时，能
                更快速地匹配到金融机构。同时互联网强大的数据分析、整理能力为银行征信系统的建立
                和发展奠定基础。但他也指出，虽然互联网使更多的金融交易变得更快、成本更低，且愈
                加普及，但是离金融普惠的概念尚远。
            </p>
            <p>
                他还强调，P2P平台需要强化数据的获取以及清洗能力。挖掘和清洗个人资产、社会
                化网络上所存留的数据对P2P行业风控非常重要。谈及P2P监管，吴文雄称，在行业内形
                成一定的规范和规则，引导、帮助用户及投资人，从而使平台更健康地发展。
            </p>
            <p>
                于东智认为，P2P行业与传统金融行业相比，其信用更高。互联网金融为商业银行转
                型发展提供好的渠道与契机，让商业银行在为客户服务时，能利用互联网思维做金融。比
                如说服务小微企业、稳定资金来源。他指出，商业银行已经开始介入P2P模式的探讨，业
                务模式如下：第一，资金托管；第二，设立自行审计平台；第三，银行业P2P短期内难获
                得更多信用，未来客户群体可能会逐渐融合。针对P2P行业所出现的问题，于东智认为其
                背后的原因在于：第一，法律法规不完善；第二，行业风控能力令人担忧。他强调，P2P
                行业需要建立监管体系，完成以下几个方面的工作，第一，建立创新风控机制，保护融资
                能力；第二，建设自律性组织和统一的行业标准，做好投资者风险测评工作；第三，尽快
                出台法律法规，规范平台的准入和退出，建立资金安全的保障体系；第四，规范担保公司
                资质，进行严格的审查资质监管；第五，规范第三方机构系统；第六：建立风险具体的机
                制，沉淀数据的专有账户进行跟踪的监管。
            </p>
            <p>
                曾刚指出，P2P发展不仅仅是互联网技术层面的创新，更多是因为金融空白（包括监
                管和管制上），致使P2P顺理成章成为一种约束相对较少的新金融方式。P2P应该是一个直
                接融资的手段、方法，未来应该把它放的更大，而不仅仅是覆盖某一个领域或者某一类人
                群，这也意味着对监管提出更多的挑战。从监管角度来讲，曾刚认为，找对监管的时间点
                至关重要，过早或过晚都会产生问题，例如，管的太早会导致对金融创新的抑制，管的太
                晚或会形成一些潜在风险。因此，把握好监管时间点是实现监管的关键步骤。
            </p>
            <p>
                蒋则沈指出，P2P的初衷是在共同的信用风险环境和征信体系中，使用现成的信用评
                分体系，借助互联网技术，以更低的运营成本，给予借款人更优惠的借贷利率，给予资金
                出借人更高的投资回报。通过这种方式与传统的金融机构形成市场定位上的错位，从而争
                取到发展的空间。基于P2P行业的互联网属性，P2P面临着新课题，即如何判断和解决行
                业在淘汰和竞争失利过程中承担的金融风险，其是否会对投资者产生致命的影响。
            </p>
            <p>
                在蒋则沈看来，未来P2P行业的监管要有底线，其根本导向在给予投资者适度保护，
                而不是无条件保护。这个底线能指导P2P投资人判断当下选择的P2P金融产品是否适合投
                资，保证当P2P的投资标的出现风险时，投资者在其家庭资产配置中，已经事先具备一定
                的风险承受预期以及实际性的抵御能力。
            </p>
            <p>
                《清华金融评论》道口形势分析会为每月一期的闭门研讨，深度探讨和解读重要政策
                及热点话题，旨在为政策制定者建言献策，为经济金融界专家学者搭建交流对话平台，通
                过闭门会议的方式更深入地研讨业界最顶尖的相关问题。同时，分析会的研讨成果会作为
                政策制定者的内参发挥建言献策的作用，同时相关内容将在《清华金融评论》杂志上做公
                开发表，为读者进行政策解读。
            </p>
        </div>
    </ion-content>
</ion-view>