<ion-view id="learned" view-title="学术顾问委员会">
    <ion-content>
        <div class="contop">
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.academicism"><span>学</span><span>院</span><span>介</span><span>绍</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.CouncilMembers"><span>理</span><span>事</span><span>会</span><span>成</span><span>员</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/conba.png"/></div>
                <div class="incon_b"><img src="images/conjiu.png"/><a ui-sref="tabs.learned"><span>学</span><span>术</span><span>顾</span><span>问</span><span>委</span><span>员</span><span>会</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.committee"><span>战</span><span>略</span><span>咨</span><span>询</span><span>委</span><span>员</span><span>会</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.teachers"><span>师</span><span>资</span><span>介</span><span>绍</span></a></div>
            </div>
        </div>
        <div class="conmid">
            <ul class="incoco">
                <li><a href="#"><img src="images/conwu.png"/></a> </li>
                <li><a href="#"><img src="images/conliu.png"/></a> </li>
                <li><a href="#"><img src="images/conqi.png"/></a> </li>
            </ul>
        </div>
        <div class="contex">
            <h3>学术顾问委员会</h3>
            <div class="contex-pic"><img src="images/conyy_03.jpg"/> </div>
            <p>学术顾问委员会是清华大学五道口金融学院研究生教学、科研和社会服
                务工作的咨询机构，由来自金融、教育领域的知名专家学者组成，为学院学
                科建设的中长期发展规划、新学科方向的建设、师资队伍建设、重大学位和
                非学位项目合作、政策研究方向等提供咨询建议。首任主席为清华大学原校
                长顾秉林院士。</p>
        </div>
    </ion-content>
</ion-view>