<ion-tabs class="tabs-assertive tabs-icon-top tabs-bottom">
    <ion-tab title="首页/Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="动态/New" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" ui-sref="tabs.news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab title="返回/Retum" icon-on="ion-ios-undo" icon-off="ion-ios-undo-outline" ui-sref="tabs.about" ng-click="retum()"></ion-tab>
</ion-tabs>