<ion-view id="teachers" view-title="师资简介">
    <ion-content>
        <div class="contop">
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.academicism"><span>学</span><span>院</span><span>介</span><span>绍</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.CouncilMembers"><span>理</span><span>事</span><span>会</span><span>成</span><span>员</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.learned"><span>学</span><span>术</span><span>顾</span><span>问</span><span>委</span><span>员</span><span>会</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/coner.png"/></div>
                <div class="incon_b"><img src="images/conyi.png"/><a ui-sref="tabs.committee"><span>战</span><span>略</span><span>咨</span><span>询</span><span>委</span><span>员</span><span>会</span></a></div>
            </div>
            <div class="incon">
                <div class="incon_a"><img src="images/conba.png"/></div>
                <div class="incon_b"><img src="images/conjiu.png"/><a ui-sref="tabs.teachers"><span>师</span><span>资</span><span>介</span><span>绍</span></a></div>
            </div>
        </div>
        <div class="conmid">
            <ul class="incoco">
                <li><a href="#"><img src="images/conwu.png"/></a> </li>
                <li><a href="#"><img src="images/conliu.png"/></a> </li>
                <li><a href="#"><img src="images/conqi.png"/></a> </li>
            </ul>
        </div>
        <div class="contex">
            <h3>师资简介</h3>
            <div class="contex-pic"><img src="images/conyy_03.jpg"/> </div>
            <p>清华大学五道口金融学院秉承“五道口”导师外聘的鲜明特色，一面
                通过全球招聘延揽国际一流全职师资，充分发挥各类教师知识结构的互补
                性，形成立体化的师资队伍，打造全方位金融人才培养方案。</p>
        </div>
    </ion-content>
</ion-view>